@import '../base/base';

.applicants,.job-desc {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;

  :last-child {
    margin-right: 0 !important;
  }
  p {
    color:$jobdesc-val;
    font-size: $xs-size;
    span {
      color:$jobdesc-key
    }
  }
  button {
    color:$button-red;
    border:1px solid $button-border;
    &:hover {
      border:1px solid $button-hover-color;
      color: $button-hover-color;
      background:$button-hover-bg;
    }
  }
}


@media only screen and (max-width:414px) {
  .container {
    h2 {
      font-size: $lg-size;
    }
    .job-legend {
      p {
        font-size: $xs-size;
      }
    }
  }

}
.applicants, .job-desc {
  @media only screen and (max-width:414px) {
    & > div {
      width:100%;
      min-width: 0;
      p {
        width:100%;
      }
    }
  }

}
