@import '../base/base';

.menu-root {
  header {
    background: $nav-bg;
    .menu-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      h5 {
        margin-right: 20px;
        font-size: $md-size;
        padding: 13px 0;
      }
      a {
        text-decoration: none;
        font-weight: $font-weight-lt;
        letter-spacing: .25px;
        color:$nav-color;
        cursor: pointer;
        &.is-active {
          color: $white;
        }
      }
    }
  }

}
