@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600);

/*
  font-size
˚˚˚˚˚˚˚˚˚˚˚˚
*/
//sizes
$xs-size: 1.25rem;
$sm-size: 1.5rem;
$md-size:1.75rem;
$lg-size:2.25rem;
$subtitle-size: 2.5rem;
$title-size:2.75rem;
//font
$line-height: 1.70;
$font-family: 'IBM Plex Mono', monospace;
$font-weight-lt:300;
$font-weight-reg:400;
$font-weight-bold:500;



/*
ıı. colors
°°°°°°°°°
 */
//white
$light-white:#f8f8ff;
$white:#ffffff;
$black:#202124;
//indi
$indilight: #1f364d;
$indireg: #0f273d;
$indidark: #0c2033;

$graycopy: #5f6368;
//blue
$bluecopy: #1a73e8;
$bluereg: #4997e5;
$bluedark: #457cb2;
$bluesky-bg:#4ea7ff;
$jobdesc-val: #78c6ec;
$jobdesc-key:#eaeaea;
$button-red: #fb492d;
$button-border: #625d5b;
$button-hover-color: #e0e0e0;
$button-hover-bg: #160b548c;


$banner-ready: $black;
$darkred:#7f1922;
$banner-header: $white;
//page
$font-color-regular:#212121;
$page-background:#f4f4f4;
$nav-bg: #19227f;
$nav-color: #d2d2d2;
$green: #227f19;
$whitelt: #e7e8f2;

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

$bgtransition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$bgtransition-svg: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

$bghover-color: rgba(0, 0, 0, 0.018);

$box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
	0px 1px 10px 0px rgba(0, 0, 0, 0.12);


