@import './base/base';
.header {
    margin-bottom: 5rem;
}


body {
  background:#f4f4f4;
  line-height: 1.35;
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #212121;
  font-size: 1.5em;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
